{% extends "base_generic.html" %}

{% block content %}
    <h1>Author : {{ author.first_name }} {{ author.last_name }}</h1>
    
    {% if author.date_of_birth %}
        <p><strong>Date of birth:</strong>{{ author.date_of_birth }}</p>
    {% endif %}
    {% if author.date_of_death %}
    <p><strong>Date of death</strong>{{ author.date_of_death }}</p>
    {% endif %}

    <hr>
    <h3>Books</h3>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h4>
                        <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
            
                    </h4>
                    <p><strong>Summary:</strong>{{ book.summary }}</p>
                    <p><strong>ISBN:</strong>{{ book.isbn }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books available for this author.</p>
    {% endif %}         
{% endblock %}